{% extends "littlecms/bootstrap.html" %}
{% block title %}
    {% if menu_option.page %}
        {{ menu_option.page.title }}
    {% else %}
        {{ menu_option.name }}
    {% endif %}
{% endblock title %}
{% block extra_head %}
{% endblock extra_head %}
{% block javascripts %}
{% endblock javascripts %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#main_nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav">
                    {% include "littlecms/menu.html" %}
                </ul>
            </div>
        </div>
    </nav>
    {% block breadcrumb %}        
    {% endblock breadcrumb %}
{% endblock navbar %}
{% block content %}
    {% include "littlecms/content.html" %}
{% endblock content %}
